/* Body */
body {
    margin: 0px;
}

/* Header */
header {
    display: flex;
    width: 100%;
    margin: 0px;
    background-color: black;
}
header h1 {
    color: white;
    font-size: 16px;
    margin-left: 20px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 50px 72px 0px 72px;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 32px 72px;
    flex-wrap: nowrap;
    gap: 32px;
    flex: 1 1 auto;
    
}
.row1, .row2, .row3 {
    display: flex;
    gap: 32px;
    flex: 1 1 auto;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1 1 auto;
    height: 210px;
    width: 300px;
    box-shadow: 3px 3px whitesmoke;
    position: relative;
}

.card img {
    height: 130px;
    width: 100%;
}

.card h3 {
    margin-top: 12px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 20px;
}

.tag {
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 10px;
    font-size: 12px;
    background-color: whitesmoke;
    padding: 5px;
}

.button {
    position: absolute;
    bottom: 25px;
    right: 20px;
    height: 35px;
    width: 35px;
    background-color: #50d8d7;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 25px;
}

/* Footer */
footer {
    background-color: whitesmoke;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    height: 180px;
}

footer span {
    font-size: 50px;
}

@media only screen and (max-width: 700px) and (min-width: 550px) {
    .card h3 {
        font-size: 15px;
        margin-top: 20px;
        margin-left: 5px;
    }

    .tag {
        font-size: 9px;
        margin-left: 5px;
    }

    .button {
    position: absolute;
    bottom: 25px;
    right: 8px;
    height: 25px;
    width: 25px;
    background-color: #50d8d7;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 17px;
}
    
}
    
/* --Mobile--*/
@media only screen and (max-width: 550px) {
    /* Mobile-Header */
    header {
        display: flex;
        justify-content: center;
    }

    header h1 {
        font-size: 24px;
    }

    /* Mobile-Main */
    h2 {
        margin: 50px 5px 0px 5px;
        font-size: 40px;
    }
    
    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 32px 5px;
        flex-wrap: nowrap;
        gap: 32px;
        flex: 1 1 auto;
        
    }
    .row1, .row2, .row3 {
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 1 1 auto;
        
    }
    
    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        width: 475px;
        box-shadow: 3px 3px whitesmoke;
        position: relative;
    }
    
    .card img {
        height: 100px;
        width: 35%;
    }
    
    .card-text {
        display: flex;
        flex-direction: column;
        
    }

    .card h3 {
        margin-top: 10px;
        margin-bottom: 7px;
        margin-left: 10px;
        font-size: 25px;
    }
    
    .tag {
        margin-top: 5px;
        margin-bottom: 12px;
        margin-left: 10px;
        font-size: 16px;
        background-color: whitesmoke;
        padding: 4px;
        text-align: center;
    }
    
    .button {
        position: absolute;
        bottom: 30px;
        right: 15px;
        height: 35px;
        width: 35px;
        background-color: #50d8d7;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 25px;
    }
    /* Mobile-Footer*/
    footer {
        background-color: whitesmoke;
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        height: 250px;
    }
    
    footer span {
        font-size: 50px;
    }
  }